* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 17px;
    line-height: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    color: #5D6063;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.page {
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_header {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.2em;
}

.page_header_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid #EAEDF0;
}

.page_nav {
    max-width: 580px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.page_nav_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid #EAEDF0;
}

.content {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #EAEDF0;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.content_wrapper > h3 {
    align-self:flex-start;
}

h1, h3, p {
    padding: 20px 0 20px 0;
    text-align: justify;
}

h2 {
    padding: 20px 0 20px 0;
}

h3 {
    padding-bottom: 0px;
}

img {
    width: 90%;
}

ul {
    width: 90%;
    text-align: justify;
}
